@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

/*Default*/
* {
	margin: 0rem;
}

body {
	background-image: url(files/peakpx.jpg);
	background-size: 100%;
	color: black;
	background-color: white;
}

div {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/*Header*/

#header {
	width: 100%;
	height: 7rem;
	background-image: url(files/fondo.png);
	background-size: 100%;
	color: white;
	font-family: StereoGothic650;
	font-size: 2.5rem;
}

/*
#headerSticky{
	position: sticky;
	-webkit-position: sticky;
	top: 0;
} 
*/

/*Links*/

#link1 {
	width: 25%;
	height: 4rem;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1.2rem;
	float: left;
	padding-top: 0.5rem;
	text-transform: uppercase;
}

#linkText {
	width: 100%;
	font-family: 'Unbounded', cursive;
	color: rgba(255, 255, 255, 0.8);
}

/*Bar*/

#bar {
	width: 100%;
	height: 2.5rem;
	background-color: black;
	color: white;
	box-shadow: 15px 15px 30px #1f1f1fa4,
		-15px -15px 30px #000000a4;
}

#logo_landscape {
	width: 15rem;
	position: absolute;
	padding-top: 0.6rem;
	padding-left: 1rem;
	float: left;
}

/*Contenido*/

#contenido {
	width: 100rem;
	height: 62rem;
	color: rgb(0, 0, 0);
	font-size: 2.5rem;
	padding-top: 3rem;
}

/*Tarjetas*/

section,
nav {
	background-color: #444;
	color: #fff;
}

header,
footer {
	background-color: #999;
}

aside {
	background-color: #ccc;
}

header,
footer,
nav,
aside,
section {
	border-radius: 5px;
	padding: 10px;
}


/*P2*/
nav {
	grid-area: nav;
}

aside {
	grid-area: aside;
}

section {
	grid-area: section;
}

header {
	grid-area: header;
}

footer {
	grid-area: footer;
}

main {
	display: grid;
	grid-gap: 0.3em;
}

.contFix {
	height: 58rem;
}

/*P3*/
main {
	grid-template-areas:
		"header header header header header"
		"nav nav section section aside"
}


/*Footer*/
#footer {
	height: 14.1rem;
	width: 100%;
	background-color: rgb(0, 0, 0, 0);
	padding-top: 1rem;
	margin-bottom: 3rem;
}

#footerContent {
	color: #FAB60A;
	width: 66%;
	height: 5rem;
	font-size: 1.3rem;
}

#footerImg {
	filter: grayscale(0);
	width: 100%;
}

/*Scroll*/

body::-webkit-scrollbar {
	width: 1.2rem;
}

body::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0);
	border-radius: 2rem;
	border: 0.3rem solid rgb(255, 255, 255);
}

/*Media query*/

@media (max-width:500px) {

	html {
		font-size: 5px;
	}
}

@media (min-width:501px) and (max-width:700px) {

	html {
		font-size: 5px;
	}
}

@media (min-width:701px) and (max-width:900px) {

	html {
		font-size: 7px;
	}
}

@media (min-width:900) and (max-width:1200px) {

	html {
		font-size: 9px;
	}
}

@media (min-width:1200px) {

	html {
		font-size: 12px;
	}
}

/*Pruebas*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
}

.card {
	width: 23, 31rem;
	height: 23.25rem;
	transition: all 0.2s;
	cursor: pointer;
}

.card-inner {
	width: inherit;
	height: inherit;
	border-radius: 0.8rem;
}

#mvp_card {
	background-image: url(files/mvp_card.png);
	background-size: 100%;
}

#ht_card {
	background-image: url(files/3goal_card.png);
	background-size: 100%;
}

#ass2_card {
	background-image: url(files/2ass_card.png);
	background-size: 100%;
}

#standings_card {
	background-image: url(files/standings.png);
	background-size: 100%;
}

#yt_frame {
	padding-top: 5.5rem;
	border-radius: 1.5rem;
}

.card:hover {
	transform: scale(1.0) rotate(2deg);
}

@keyframes move-up6 {
	to {
		transform: translateY(-20px);
	}
}

@keyframes move-down1 {
	to {
		transform: translateY(20px);
	}
}

/*Pruebas*/
.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
}

.card2 {
	width: 23, 31rem;
	height: 36.25rem;
	transition: all 0.2s;
	cursor: pointer;
}

.card-inner2 {
	width: inherit;
	height: inherit;
	border-radius: 0.8rem;
}

.card2:hover {
	transform: scale(1.0) rotate(2deg);
}

/*Tarjeta Marcos*/
.flip-card {
	background-color: transparent;
	width: 30rem;
	height: 25rem;
	perspective: 100rem;
	font-family: sans-serif;
	margin-top: 6rem;
}

.titlecard {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	margin: 0;
	font-family: 'Annie Use Your Telescope', cursive;
}

.pcard {
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	margin: 0;
	font-family: 'Annie Use Your Telescope', cursive;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid transparent;
	border-radius: 1rem;
}

.flip-card-front {
	background-image: url(files/post_it.png);
	background-size: 100%;
	background-color: #FAB60A;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.flip-card-back {
	background-image: url(files/fondo.png);
	background-size: 150%;
	background-color: white;
	color: black;
	transform: rotateY(180deg);
}

/*Reglamento*/
.reglamento_cont {
	background-image: url(files/fondo_rules.png);
	background-size: 100%;
	background-color: white;
	width: 100%;
	height: 100%;
	font-family: 'Archivo', sans-serif;
	padding-top: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-style: solid;
	border-radius: 20px;
	border-color: transparent;
}

#lista {
	font-size: 1.5rem;
	text-align: left;
	line-height: 3rem;
	list-style: none;
}

#reglamento_text {
	font-size: 1.7rem;
	text-align: center;
	width: 83%;
}

#sublist {
	padding-right: 2rem;
	font-size: 1.5rem;
	list-style: none;
}

.num_list {
	font-size: 2rem;
	font-weight: 900;
	color: #FAB60A;
}

.num_list2 {
	font-size: 1.5rem;
	font-weight: 900;
	color: #FAB60A;
}

/*Clasificacion*/

.standings_cont {
	width: 100%;
	height: 100%;
}

/*Contacto*/

input {
	margin-top: 2rem;
	text-align: center;
	padding: 0.5rem;
	border-radius: 1rem;
	border-color: rgba(0, 0, 0, 0.2);
}

#topin {
	margin-top: 3rem;
}

#titulo {
	margin-top: 2rem;
	font-family: 'Archivo', sans-serif;
}

#etiquetas {
	margin-right: 2rem;
}

/* From uiverse.io by @adamgiebl */
button {
	font-family: 'Archivo', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	background: #FAB60A;
	color: white;
	padding: 0.7em 1em;
	padding-left: 0.9em;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 16px;
	overflow: hidden;
	transition: all 0.2s;
}

button span {
	display: block;
	margin-left: 0.3em;
	transition: all 0.3s ease-in-out;
}

button svg {
	display: block;
	transform-origin: center center;
	transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
	animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
	transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
	transform: translateX(5em);
}

button:active {
	transform: scale(0.95);
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}

	to {
		transform: translateY(-0.1em);
	}
}

#enviar {
	margin-top: 35px;
}

.card_contacto {
	width: 50%;
	height: 90%;
	border-radius: 2rem;
	background-image: url(files/fondo_contacto.png);
	background-size: 100%;
	background-color: white;
	box-shadow: 15px 15px 30px #1f1f1f79,
		-15px -15px 30px #00000079;
	padding-bottom: -3rem;
	padding-top: 1rem;
	margin-top: 3rem;
}

.input_conts {
	width: 50%;
	font-family: 'Archivo', sans-serif;
}

.input_conts2 {
	width: 52.6%;
	height: 10rem;
	font-family: 'Archivo', sans-serif;
}

#descripcion_contacto {
	font-family: 'Archivo', sans-serif;
	font-size: 1.15rem;
	margin-top: 2rem;
	width: 55%;
}