/* Escribe aquí tus estilos CSS */

* {
    background-color: white;
    font-size: 1rem;
    line-height: 25px;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

/*Titulo*/

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #6a6a6a;
}

/*Navegacion*/

nav {
    text-align: center;
    text-decoration: none;
    font-size: 1px;
}

/*Color Nav*/

#navcolor {
    color: #6a6a6a;
}

/*Lista navegacion*/

li {
    list-style: none;
    text-align: center;
    margin-left: -30px;
}

/*Enlaces navegacion*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Tarjetas*/

#imagenes {
    width: 100%;
}

article {
    width: 330px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    /*Text Align*/
    text-align: center;
    /*Borde*/
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 8px;
    border-style: solid;
    /*Separacion entre tarjertas*/
    margin-top: 20px;
}

#enlacetarjeta {
    color: blue;
}