/*Plantilla Marcos Lafoz*/

* {
	margin: 0rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1px;
}

body {
	color: black;
	background-color: white;
}

/*Estilos*/

#cont1 {
	width: 100%;
	height: 100rem;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 30rem;
}

#cont2 {
	padding-top: 30rem;
	font-size: 30rem;
}

/*J-Query*/

/*Monitores de 1920px de ancho (16:9)*/
@media screen and (min-width: 1920px) {
	body {}
}

/*Monitores de 1024px de ancho (4:3)*/
@media screen and (min-width: 1024px) {
	body {}
}
