/*Plantilla Marcos Lafoz*/

* {
	margin: 0rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1px;
}

body {
	color: black;
	background-color: #7E3FFF;
}

/*Estilos*/

/*Letrero*/
#titulo {
	font-size: 30rem;
	color: white;
	font-weight: bold;
	margin-bottom: 20rem;
}

/*Contenedor frutas*/
#manzana {
	position: absolute;
}

#melocoton {
	position: relative; 
}


#naranja {
	position: relative;
	
}

#pera {
	position: relative;
	margin-left: 60%;
	margin-top: 30rem;
}

/*Nombre*/
#nombre {
	background-color: rgba(0, 0, 0, 0.411);
	width: 200rem;
	height: 180rem;
}

#textonombre {
	font-size: 10rem;
	color: white;
}